@import  "colpick-jQuery-Color-Picker/css/colpick.css";

.colpick {
    z-index:1;
}

.colorpicker-preview {
    display: inline-block;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    vertical-align: bottom;
    margin: 0 4px 0 0;
    border: 2px solid #999999;
    border-left: 0;
    cursor: pointer;
}
