/**************************************************/
/* standard styles */
/**************************************************/
html,body {
    height:100%;
    margin:0px;
    padding:0px;
    font-size:10pt;
    font-family:"Palatino Linotype", "Palatino", "Times New Roman", Times, serif;
    color:#000000;
    line-height:120%;
}

body {
    overflow-y: scroll;
    margin: 0px auto;
    width:991px;
}

img {
    margin:0px;
    padding:0px;
    border:none;
}

form {
    margin:0px;
    padding:0px;
}

h1, h2, h3, h4, h5, h6 {
    margin:0px;
    padding:0px;
    font-weight:normal;
    font-size:10pt;
    font-family:"Century Gothic", "Futura", Arial, Helvetica, sans-serif;
}

h1 { font-size:250%; }
h2 { font-size:200%; }
h3 { font-size:160%; }
h4 { font-size:135%; font-weight:bold; }
h5 { font-size:120%; font-weight:bold; }
h6 { font-size:110%; font-weight:bold; }

p {
    margin:0px;
    padding:0px;
}

h1+*, h2+*, h3+*, h4+*, h5+*, h6+*, p+* {
    margin-top:12px;
}

/**************************************************/
/* standard links styles */
/**************************************************/
a, .link {
    color:#2B4595;
    text-decoration:none;
    cursor:pointer;
}
a:hover, a:focus, a:active, .link:hover, .link:focus, .link:active {
    text-decoration:underline;
}
a.s .link[class~=s]{
    font-weight:bold;
}


/**************************************************/
/* standard form styles */
/**************************************************/
img.checkbox {
    cursor:pointer;
}

input[type="checkbox"], input[type="radio"], input[type="submit"], input[type="reset"], input[type="button"] {
    cursor:pointer;
}

select, option, label {
    cursor:pointer;
}
