/**************************************************/
/* topmenu styles */
/**************************************************/
#topmenu_left {
    position:absolute;
    top:76px;
    width:159px;
    height:38px;
    z-index:5;
    background:#019934 url('?images=topmenu_left.jpg');
    background-repeat:no-repeat;
    margin-left:170px;
}

#topmenu_loop {
    position:absolute;
    top:76px;
    width:630px;
    height:35px;
    z-index:5;
    background:#019934 url('?images=topmenu.jpg');
    background-repeat:repeat-x;
    margin-left:329px;
    padding:0px;
    padding-top:3px;
    font-size:13px;
    font-family:"Century Gothic", "Futura", Arial, Helvetica, sans-serif;
}

ul.topmenu {
    list-style: none;
    padding:0px;
    margin:0px;
}

ul.topmenu li {
    display:inline;
    padding:0px;
    margin:0px;
    margin-right:5px;
    text-align:center;
}

ul.topmenu li a {
    font-size:13px;
    font-family:"Century Gothic", "Futura", Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    padding:3px 8px 7px;
    margin:0px;
    text-decoration:none;
    cursor:pointer;
    height:10px;
}
ul.topmenu li a:hover, ul.topmenu li a:focus, ul.topmenu li a:active {
    text-decoration:none;
    background:url('?images=topmenu_hover.jpg') left top repeat-x;
}

ul.topmenu li.selected a{
    font-weight:bold;
    background:url('?images=topmenu_hover.jpg') left top repeat-x;
}


/**************************************************/
/* topmenu login styles */
/**************************************************/
#topmenu_login {
    position:absolute;
    top:98px;
    width:59px;
    height:29px;
    z-index:5;
    background:#DDDDDD url('?images=login_bg.jpg');
    background-repeat:no-repeat;
    margin-left:888px;
    padding-left:12px;
    padding-top:1px;
    text-align:left;
}
#topmenu_login a {
    color:#4C4C4C;
    font-family:Arial, Helvetica, sans-serif;
}

#topmenu_login_image {
    padding-right:6px;
    padding-top:3px;
}


/**************************************************/
/* leftmenu styles */
/**************************************************/
#navi_container {
    position:relative;
    width:138px;
    margin-top:76px;
    margin-right:15px;
    float:left;
    padding-bottom:30px;
}

.leftmenu {
    position:relative;
    min-height:45px;
    padding:12px 0px 0px 7px;
    background:#DDDDDD url('?images=leftmenu.jpg') no-repeat;
    background-repeat:no-repeat;
}
.leftmenu * {
    color:#434343;
    font-size:11pt;
    font-family:"Century Gothic", "Futura", Arial, Helvetica, sans-serif;
}

.leftmenu[class~='top'] {
    background-image:url('?images=leftmenu_top.jpg');
    min-height:43px;
    padding-top:10px;
}

.leftmenu ul {
    list-style: none;
    padding:0px;
    margin:5px 0px 0px 9px;
}

.leftmenu ul li {
    font-size:12px;
    color:#4C4C4C;
    padding:0px;
    margin:0px;
    line-height:130%;
}

.leftmenu ul li:before {
    content: "- ";
}

.leftmenu ul li a {
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    color:#4C4C4C;
    font-weight:normal;
    text-decoration:none;
}
.leftmenu ul li a:hover, .leftmenu ul li a.navi:focus {
    text-decoration:underline;
}
.leftmenu ul li.selected a {
    font-weight:bold;
}
