
a
{
    font-size:8pt;
    font-family:Verdana;
    color:#000000;
}
a.menu
{
    font-size:8pt;
    font-family:Verdana;
    color:#000000;
    text-decoration:none;
}
font.status
  {
   font-size:8pt;
   font-family:Verdana;
   color:#ff0000;
  }
.menuhead
  {
   font-size:8pt;
   font-family:Verdana;
   color:#000000;
   font-weight:bold;
   text-decoration:none;
  }
.menu
  {
   font-size:8pt;
   font-family:Verdana;
   color:#000000;
  }
td.config
  {
   text-align:left;
   font-size:9pt;
   font-family:Verdana;
   color:#000000;
   font-weight:bold;
  }
td.configthin
  {
   text-align:left;
   font-size:9pt;
   font-family:Verdana;
   color:#000000;
  }
td.h
  {
   font-size:8pt;
   font-family:Verdana;
   font-weight:bold;
   color:#000000;
   background:#AAAAAA;
  }
td.n
  {
   font-size:8pt;
   font-family:Verdana;
   color:#000000;
   background:#CCCCCC;
  }
td.nw
  {
   font-size:8pt;
   font-family:Verdana;
   color:#000000;
   background:#BBBBBB;
  }
font.small
  {
   font-size:7pt;
   font-family:Verdana;
   color:#000000;
   font-weight:normal;
  }   
textarea
  {
   color:#000000;
   font-size:9pt;
   font-family:Verdana;
   border:1px solid #000000;
   background-color:#B7B7B7;
  }
.text
  {
   color:#000000;
   font-size:9pt;
   font-family:Verdana;
   border:1px solid #000000;
   background-color:#B7B7B7;
  }
.button
  {
   color:#000000;
   font-size:8pt;
   font-family:Verdana;
   border:1px solid #000000;
   background-color:#B7B7B7;
  }
select
  {
   color:#000000;
   font-size:9pt;
   font-family:Verdana;
   border:1px solid #000000;
   background-color:#B7B7B7;
  }

#menu
{
 position:relative;
 background-color:#EEEEEE;
 width:140px;
 border-right:1px solid #000000;
 border-bottom:1px solid #000000;
 padding:5px;
 padding-top:7px;
 top:-2px;
}
#menushadow
{
 position:absolute;
 background-color:#575757;
 width:153px;
 z-index:1;
}

#main
{
 position:absolute;
 top:25px;
 left:50%;
 margin-left: -220px;
}
#mainshadow
{
 width:622px;
 background-color:#575757;
}
#maincontent
{
 position:relative;
 padding:10px;
 top:-2px;
 left:-2px;
 width:600px;
 background-color:#EEEEEE;
 border:1px solid #000000;
}

/* Toggle Menu */

.toggle {
 display: none;
}

/* Tooltip */

.tooltip {
 position: absolute;
 text-decoration: none;
 font-style: bold;
 border-bottom:none;
}
.tooltip:hover {
 z-index: 1000;
 background: transparent;
 cursor:help;
 border: none;
}
.tooltip span {
 display: none;
 position: absolute;
 text-decoration: none;
}
.tooltip:hover span {
 display: block;
 position: absolute;
 top: 25px;
 left: 0px;
 width: 150px;
 z-index: 100;
 color: #000000;
 border: 1px solid;
 border-color: #000000 #000000 #000000 #000000;
 padding: 3px;
 background: #EEEEEE;
 font-family: Verdana, Arial, Helvetica, Sans-serif;
 font-style: Normal;
 text-align: left;
}

/**************************************************/
/* standard styles */
/**************************************************/
html,body
{
    height:100%;
}

body
{
    background-image:url('img/bg.jpg');
    margin:0px;
    padding:0px;
    font-family:Verdana;
    color:#000000;
    font-size:8pt;
    overflow-y: scroll;
}
.small
{
    font-size:7pt;
}

.thumb
{
    cursor:pointer;
}



/**************************************************/
/* standard links styles */
/**************************************************/
a
{
    font-size:8pt;
    font-family:Verdana;
    color:#363636;
    font-weight:normal;
    text-decoration:none;
}
a:hover,a:focus { text-decoration:underline; }


/**************************************************/
/* navi links styles */
/**************************************************/
a.navi
{
    font-size:8pt;
    font-family:Verdana;
    color:#4c4c4c;
    font-weight:normal;
    text-decoration:none;
}
a.navi:hover,a.navi:focus { text-decoration:underline; }

a.navi_selected
{
    font-weight:bold;
}



/**************************************************/
/* head link styles */
/**************************************************/
a.head_link
{
    font-size:10pt;
    font-family:Times New Roman;
    color:#363636;
}
a.head_link:hover,a.head_link:focus { text-decoration:underline; }



/**************************************************/
/* menu links styles */
/**************************************************/
a.menu_link,a.menu_link_selected
{
    font-size:9pt;
    font-family:Arial;
    color:#FFFFFF;
    display:inline-block;
    margin-top:-4px;
    padding-top:4px;
    padding-bottom:10px;
    padding-left:7px;
    padding-right:7px;
    text-align:center;
    text-decoration:none;
    background-color:transparent;
}
a.menu_link_selected
{
    font-weight:bold;
    background-image:url('img/menubg_hover.jpg');
}

a.menu_link:hover,a.menu_link:focus,a.menu_link_selected:hover,a.menu_link_selected:focus
{
    text-decoration:none;
    font-weight:normal;
    background-image:url('img/menubg_hover.jpg');
}
a.menu_link_selected:hover,a.menu_link_selected:focus
{
    font-weight:bold;
}



/**************************************************/
/* head design styles */
/**************************************************/
#head
{
    background-image:url('img/head.jpg');
    background-repeat:no-repeat;
    width:927px;
    height:76px;
    padding-top:17px;
    padding-left:21px;
    position:absolute;
    left:50%;
    margin-left:-463px;
    z-index:5;
    font-size:14pt;
    font-family:Times New Roman;
    color:#363636;
    text-transform:uppercase;
}
#head_link
{
    position:relative;
    left:-16px;
    top:13px;
    text-transform:none;
}



/**************************************************/
/* menu design styles */
/**************************************************/
#menu_top_left
{
    background-image:url('img/menu_top_l.jpg');
    background-repeat:no-repeat;
    width:159px;
    height:38px;
    position:absolute;
    top:76px;
    left:50%;
    margin-left:-325px;
    z-index:5;
}

#menu_top_loop
{
    background-image:url('img/menubg.jpg');
    background-repeat:repeat-x;
    width:526px;;
    height:38px;
    position:absolute;
    top:76px;
    left:50%;
    margin-left:-166px;
    padding-top:4px;
    padding-left:17px;
    font-size:9pt;
    font-family:Arial;
    color:#FFFFFF;
    z-index:5;
}

#menu_top_right
{
    background-image:url('img/menu_top_r.jpg');
    background-repeat:no-repeat;
    width:104px;
    height:38px;
    position:absolute;
    top:76px;
    left:50%;
    margin-left:360px;
    padding-top:4px;
    font-size:9pt;
    font-family:Arial;
    color:#FFFFFF;
    text-align:right;
    z-index:5;
}



/**************************************************/
/* background design styles */
/**************************************************/
#bg
{
    background-image:url('img/great_loop.jpg');
    background-repeat:repeat-y;
    position:absolute;
    width:991px;
    left:50%;
    margin-left:-495px;
    min-height:100%;
    height:auto !important;
    height:100%;
    z-index:1;
}

#bg_padding
{
    position:relative;
    width:927px;
    left:32px;
}



/**************************************************/
/* navigation design styles */
/**************************************************/
#navi_container
{
    width:153px;
    position:relative;
    margin-top:76px;
    float:left;
    padding-bottom:30px;
}

#navi_top,#navi_headline
{
    background-image:url('img/navi_top.jpg');
    background-repeat:no-repeat;
    min-height:43px;
    position:relative;
    padding-top:11px;
    padding-left:3px;
    font-size:10pt;
    font-family:Tahoma;
    color:#434343;
}
#navi_headline
{
    background-image:url('img/navi_headline.jpg');
    background-repeat:no-repeat;
    min-height:45px;
    padding-top:13px;
    padding-left:3px;
}

#navi_link
{
    padding-top:6px;
    padding-left:3px;
    padding-right:25px;
    font-size:8pt;
    font-family:Verdana;
    color:#4c4c4c;
    font-weight:normal;
    text-decoration:none;
}



/**************************************************/
/* content design styles */
/**************************************************/
#content_container
{
    background-image:url('img/content_loop.jpg');
    background-repeat:repeat-y;
    position:relative;
    margin-top:139px;
    right:-44px;
    width:684px;
    z-index:3;
    float:left;
}
#content_padding
{
    max-width:594px;
    margin-left:45px;
    margin-right:45px;
}

#content_top
{
    background-image:url('img/content_top.jpg');
    background-repeat:no-repeat;
    width:684px;
    height:45px;
    position:relative;
    top:0px;
    left:0px;
}
#content_foot
{
    background-image:url('img/content_foot.jpg');
    background-repeat:no-repeat;
    background-color:#485247;
    width:684px;
    height:83px;
    position:relative;
    bottom:0px;
    left:0px;
}
