div.ed_button {
  font-size:8pt;
  font-family:Verdana;
  border:1px solid #000000;
  background-color:#B7B7B7;
  width:20px;
  height:20px;
  cursor:pointer;
  text-align:center;
}
div.ed_button:hover {
  background-color:#A5E5A5;
}
a.ed_button_new {
  display:block;
  width:22px;
  height:22px;
  cursor:pointer;
  background-position: bottom right;
}
a.ed_button_new:hover, a.ed_button_new:focus {
  background-position: top left;
}
td.editor_td {
  width:24px;
  height:23px;
  vertical-align:bottom;
  text-align:left;
}
td.editor_td_seperator {
  width:5px;
  height:23px;
  background-image:url("../images/icons/separator.gif");
  background-repeat:no-repeat;
  background-position:top left;
}
img.editor_smilies {
  cursor:pointer;
}