/**************************************************/
/* html-editor styles */
/**************************************************/
.html-editor-bar {
    background-color:#EEEEEE;
    border: 1px solid #999999;
    border-bottom:none;
    width:100%;
    padding:0px;
    margin:0px;
}
.html-editor-row {
    height:24px;
    padding:1px;
}
a.html-editor-button, a.html-editor-button-active {
    height:20px;
    width:20px;
    cursor:pointer;
    background-color:transparent;
    background-repeat:no-repeat;
    background-position:center;
    border:1px solid transparent;
    padding:0px;
    margin:1px;
    display:block;
    float:left;
}
a.html-editor-button-active {
    border:1px solid #555555;
    background-color:#DDDDDD;
}
a.html-editor-button:hover, a.html-editor-button:focus, a.html-editor-button-active:hover, a.html-editor-button-active:focus {
    border:1px solid #555555;
    background-color:#CCCCCC;
}
.html-editor-line {
    height:20px;
    width:5px;
    background-image:url("html-editor/line.gif");
    background-repeat:no-repeat;
    background-position:center;
    border:1px solid transparent;
    padding:0px;
    margin:1px;
    display:block;
    float:left;
}
.html-editor-list-container {
    float:left;
}
a.html-editor-list {
    height:14px;
    cursor:pointer;
    background-color:#FFFFFF;
    background-repeat:no-repeat;
    border:1px solid #BBBBBB;
    padding:2px 4px;
    margin:2px 0px 1px 1px;
    display:block;
    float:left;
    vertical-align:middle;
    font-size:11px;
    font-family:Tahoma;
    font-weight:normal;
}
a.html-editor-list:hover {
    text-decoration:none;
    border:1px solid #555555;
}
a.html-editor-arrow {
    height:14px;
    width:3px;
    cursor:pointer;
    padding:2px 4px;
    margin:2px 1px 1px 0px;
    background-color:#EEEEEE;
    background-image:url("html-editor/arrow.gif");
    background-repeat:no-repeat;
    background-position:center;
    border:1px solid #BBBBBB;
    border-left:none;
    display:block;
    float:left;
}

a.html-editor-arrow:hover {
    border:1px solid #555555;
    border-left:none;
}
