php_value include_path "C:\Programme\xampp\htdocs\fs2\inc"

ErrorDocument 404 /?go=404
ErrorDocument 403 /?go=403

Options +FollowSymLinks
RewriteEngine on
RewriteBase /fs2/www

RewriteRule ^rot $1/
RewriteRule ^rot/ index.php?zone=rot [QSA]

RewriteRule ^blau $1/
RewriteRule ^blau/ index.php?zone=blau [QSA]