@import url("default.css");
@import url("menu.css");
@import url("style.css");
@import url("functional.css");
@import url("html-editor.css");


/**************************************************/
/* addtional secondary styles (has to be at the end */
/**************************************************/
strong {
    font-weight:bold;
    font-size:100%;
}
em {
    font-style:italic;
    font-size:100%;
}


.mono {
    font-family:"Courier New", Courier, monospace !important;
}

.small {
    font-size:9pt;
}

.top {
    vertical-align:top !important;
}
.middle {
    vertical-align:middle !important;
}
.bottom {
    vertical-align:bottom !important;
}
.text-bottom {
    vertical-align:text-bottom !important;
}

.left {
    text-align:left !important;
}
.center {
    text-align:center !important;
}
.right {
    text-align:right !important;
}
.justify {
    text-align:justify !important;
}

.atleft {
    float:left !important;
}
.atright {
    float:right !important;
}

.pointer {
    cursor:pointer !important;
}

.red {
    background-color:#C24949 !important;
}
.green {
    background-color:#49C24f !important;
}
.red_text {
    color:#FF0000 !important;
}
