/**************************************************/
/* noscript style */
/**************************************************/
.hidden {
    display:block;
}
tr.hidden {
    display:table-row;
}
td.hidden {
    display:table-cell;
}

img.checkbox {
    display:none;
}

.nshide {
    display:none;
}
