/**************************************************/
/* background design styles */
/**************************************************/
body {
    background:#2A2A2A url('../images/bg.jpg');
}

#bg {
    background:#485247 url('../images/bg_loop.jpg');
    background-repeat:repeat-y;
    position:absolute;
    width:991px;
    min-height:100%;
    height:auto !important;
    height:100%;
    z-index:1;
}

#bg_padding {
    position:relative;
    width:927px;
    left:32px;
}

/**************************************************/
/* head design styles */
/**************************************************/
#head {
    position:absolute;
    z-index:5;
    margin-left:32px;   
    width:917px;
    height:71px;
    padding-top:5px;
    padding-left:10px;     
    background:#DDDDDD url('../images/head.jpg') no-repeat;
    color:#363636;
    font-family:"Palatino Linotype", "Palatino", "Times New Roman", Times, serif;
    font-size:20pt;
    font-weight:normal;  
    line-height:120%;  
}
#head h1 {
    font-size:20pt;
    font-family:"Palatino Linotype", "Palatino", "Times New Roman", Times, serif;
    margin:0px;
}

#head_version {
    position:absolute;
    left:860px;
    top:36px;
    width:90px;
    font:normal 9px Arial;
    color:#FFFFFF;
    line-height:100%;
}
#head_link {
    position:absolute;
    left:12px;
    top:36px;
}
#head_link a { 
    font-family:"Palatino Linotype", "Palatino", "Times New Roman", Times, serif;
    font-size:9pt;
    color:#363636;
}
#head_link a:hover, #head_link a:focus {
    text-decoration:underline;
}

/**************************************************/
/* content box styles */
/**************************************************/
#content_container {
    position:relative;
    left:-15px;
    margin-top:102px;
    width:770px;
    float:left;
}

.cb {
    padding:15px 25px 30px;
    margin:30px 10px 30px 30px;
    background:#D4D4D4 url(../images/cb_bg.jpg) repeat;
    text-align:left;
    border-radius:25px;
    box-shadow: 3px 3px 5px #444;
}

.cb-title h2 {
    font-size:10pt;
    margin:0px;
    text-align:right;
}

.cb-content {
    margin-top:-5px;
    text-align:left;
}

/**************************************************/
/* hr colors */
/**************************************************/
hr.green {
    background-color:#008800;
    background-image:url('../images/line_green.jpg');
}
hr.red {
    background-color:#FF0000;
    background-image:url('../images/line_red.jpg');
}



/**************************************************/
/* Systemmessage design */
/**************************************************/
div.systext+*{
    margin-top:24px;
}

div.systext hr {
    background-repeat:repeat-x;
    background-position:left top;
    height:9px;
    border:none;
    margin-top:5px;
}

div.systext hr+div {
    font-size:12pt;
}

div.systext>div {
    display:table-row;
}

div.systext>div>span {
    font-size:12pt;
    display:table-cell;
}

div.systext>div>img {
    padding:3px 10px 3px 0px;
    display:table-cell;
}

/**************************************************/
/* default page desgin */
/**************************************************/
table.content {
    width:680px;
}

table.content td {
    padding-top:3px;
    padding-bottom:3px;
    text-align:left;
    vertical-align:top;
    font-size:11pt;
    font-family:"Century Gothic", "Futura", Arial, Helvetica, sans-serif;
    font-weight:bold;
}
table.content td.thin, table.content tr.thin td {
    font-weight:normal;
}
table.content td.big, table.content tr.big td {
    font-size:13pt;
}

table.content td .small, table.content tr .small {
    font-size:10pt;
    font-weight:normal;
    font-family:"Palatino Linotype", "Palatino", "Times New Roman", Times, serif;
}

table.content h3 {
    font-family:"Century Gothic", "Futura", Arial, Helvetica, sans-serif;    
    font-size:160%;
    font-weight:normal;
}
table.content tr + tr td h3 {
    margin-top:15px;
}

table.content h3+hr {
    background-repeat:repeat-x;
    background-position:left top;
    height:9px;
    border:none;
    margin-top:7px;
    background-color:#008800;
    background-image:url('../images/line_green.jpg');
}

table.content .space {
    margin-top:15px;
    margin-bottom:15px;    
}
table.content .spacetop {
    margin-top:15px;
}
table.content .spacebottom{
    margin-bottom:15px;
}

/**************************************************/
/* special config page styles */
/**************************************************/
table.config {
    width:680px;
}
table.config td {
    width:50%;
}
table.config tr>td:first-child:not(:only-child) {
    padding-right:50px;
}


/**************************************************/
/* find page styles */
/**************************************************/
#find_body {
    background-image:none;
    background-color:#495144;
    width:100%;
    text-align:left;
}

#find_body table.content {
    width:100%;
}
#find_body .cb {
    padding:15px 25px 30px;
    margin:15px 10px 10px;
}

#find_head {
    width:100%;
    height:25px;
    padding-top:1px;
    background-image:url('../images/topmenu.jpg');
    background-repeat:repeat-x;
    font-family:"Century Gothic", "Futura", Arial, Helvetica, sans-serif;
    font-size:10pt;
    color:#FFFFFF;
}

#find_container {
    background-image:url('../images/content_loop_small.jpg');
    background-repeat:repeat-y;
    width:308px;
    text-align:left;
}
#find_top {
    background-image:url('../images/content_top_small.jpg');
    background-repeat:no-repeat;
    width:308px;
    height:25px;
    padding-left:15px;
    padding-top:20px;
    font-size:8pt;
    font-variant:small-caps;
    color:#000000;
    font-weight:bold;
}
#find_foot {
    background-image:url('../images/content_foot_small.jpg');
    background-repeat:no-repeat;
    width:308px;
    height:53px;
}


/**************************************************/
/* default form styles */
/**************************************************/
select, option, textarea, input[type='password'], input[type='text'], input:not([type])  {
    color:#000000;
    font-size:10pt;
    font-family:Verdana, sans-serif;
    border:2px solid #999999;
    background-color:#ffffff;
    font-weight:normal;
    padding:2px 3px;
}

option {
    border:none;
    padding:1px 10px 1px 6px;

} 

input[type='file'] {
    color:#000000;
    font-size:10pt;
    font-family:Verdana, sans-serif;
    background-color:#ffffff;
    font-weight:normal;
    padding:2px 3px;
    cursor:pointer;
}
input[type='button'], input[type='reset'], input[type='submit'] {
    padding-top:2px;
    padding-bottom:2px; 
    cursor:pointer;
}

textarea {
    font-family: "Courier New", Courier, monospace;
    line-height:140%;
    font-size:11pt;
}
textarea.nomono {
    font-family:Verdana, sans-serif;
    font-size:10pt;
}

input.full, textarea.full {
    width:670px;
}
input.threequarter, textarea.threequarter {
    width:500px;
}
input.twothird, textarea.twothird {
    width:443px;
}
input.half, textarea.half {
    width:330px;
}
input.third, textarea.third {
    width:216px;
}
input.quarter, textarea.quarter {
    width:160px;
}
input.eighth, textarea.eighth {
    width:75px;
}

.full {
    width:680px;
}
.threequarter {
    width:510px;
}
.twothird {
    width:453px;
}
.half {
    width:340px;
}
.third {
    width:226px;
}
.quarter {
    width:170px;
}
.eighth {
    width:85px;
}

/**************************************************/
/* Button styles */
/* TODO: New button style */
/**************************************************/
table.content .button, a.link_button {
    height:27px;
    margin-top:15px;
    padding-right:10px;
    background:#019934 url('../images/button.jpg');
    background-repeat:repeat-x;
    background-position:top left;
    border:1px solid #000000;
    cursor:pointer;
    font-size:9pt;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#FFFFFF;
    text-align:right;
}
table.content .button {
    width:100%;
}
table.content .button:hover, table.content .button:focus, a.link_button:hover, a.link_button:focus {
    background-position:bottom left;
}

a.link_button {
    display:block;
    height:15px;
    padding:5px;
    padding-right:13px;
}
a.link_button:hover,a.link_button:focus {
    text-decoration:none;
}
