.small {
  font-size: 8pt;
}

a, .link {
  color:#478747;
  text-decoration:none;
  cursor:pointer;
}
a:hover, a:focus, a.small:hover, a.small:focus, .link:hover {
 text-decoration:underline;
}


p.systemmessage {
  margin:0px 0px 20px 0px;
  padding:0px;
}


.pointer {
    cursor:pointer;
}


.top {
  vertical-align:top;
}
.middle, .textmiddle {
  vertical-align:middle;
}
.bottom {
  vertical-align:bottom;
}

.left {
  text-align:left;
}
.center {
  text-align:center;
}
.right {
  text-align:right;
}
.justify{
  text-align:justify;
}


.atleft {
  float:left;
}
.atright {
  float:right;
}

.copyright {
  color:#363636;
  font-size:8pt;
}

.input {
  border:1px solid #A5ACB2;
  background-color: #FFFFFF;
}

.input_highlight:active, .input_highlight:focus {
  background-color: #88EE88;
}

textarea {
  font-family:"Trebuchet MS",Verdana,Arial,sans-serif;
  color:#000000;
  font-size:9pt;
}


.hidden{
  display:none;
}

.dl_cell {
  border:1px solid #000000;
  padding:3px;
}

.comment_table {
  margin: 0px -2px 15px -2px;
  width:100%;
  border-collapse:collapse;
  border:1px solid #A5ACB2;
}
.comment_td {
  border:1px solid #A5ACB2;
  padding:3px 5px;
  vertical-align:top;
}
.comment_top {
  border-bottom:1px solid #A5ACB2;
  background-color:#F2F2F2;
  text-align:right;
  vertical-align:middle;
  height:18px;
  padding:3px 5px;
  margin:-3px -5px 3px -5px;
}
.comment_left {
  width:140px;
  background-color:#F2F2F2;
}