ul.navlinks{
  padding: 0;
  margin: 0;
  border: 0;
}

ul.navlinks li{
  list-style-type: none;
  position: relative;
  margin: 0px;
  padding: 0px;
}

ul.navlinks ul{
  display: none;
  background-color:#FAFCF1;
  border-top:1px solid #E2E2E2;
  padding: 0px 2px;
  z-index: 3;
  margin-top: 18px;
  margin-left: 280px;
  width: 150px;
}

ul.navlinks li:hover > ul{
  display: block;
  position: absolute;
  top: 0px;
}

li.navilinks a{
  display: block;
  margin: 0px;
  text-decoration: none;
}

li.chars_sub > a {
  margin: 0px;
  padding: 0px;
}

li.navilinks{
  border-color: #E2E2E2;
  border-style: solid;
  border-width: 0px 1px 1px;
}

li.navihead{
  background-color: #F2F2F2;
}